%div.container
  %h2 About Recipeazy
  
  %h3 Recipeazy is an app that was programmed
  and created by 3 preteens for the Technovation competition in 2017.
  %ul
    %li April Liu - Chief Design Officer
    %p I produced the logo and lead in the design departement and helped in the advertisment departement.
    
    %li Cherry Ke - Chief Executive Officer
    %p I created the web version of Recipeazy and lead in the advertisment departement.
    
    %li Rose Chen - Chief Product Officer
    %p I created the app Recipeazy and helped in the design department. 
  
  %h4 With Recipeazy, users online can benefit from the recipes that have been provided on the website that are frugal and easy to create.
